GROQ_API_KEY=
GEMINI_API_KEY=
TAVILY_API_KEY=


CROO_API_URL=https://api.croo.network
CROO_WS_URL=wss://api.croo.network/ws
CROO_SDK_KEY=croo_sk_...  
CROO_SERVICE_ID=          
CROO_AGENT_ID=           

FRONTEND_URL=http://localhost:3000   

